<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ecms.ndmecms">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- <uses-permission -->
    <!-- android:name="android.permission.MANAGE_EXTERNAL_STORAGE" -->
    <!-- tools:ignore="ScopedStorage" /> -->
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".ui.App"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="n">
        <activity android:name=".Activity.YourCalendarActivity"></activity>
        <activity android:name=".Activity.OrganisationCalendarActivity" />
        <activity android:name=".MeetingActions_new" />
        <activity
            android:name=".ui.Agreement"
            android:screenOrientation="portrait" />
        <activity android:name=".PrivacyPolicyActivity" />
        <activity android:name=".Activity.ReportActivity" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SplashScreenActivity" />
        <activity android:name=".ui.ViewEmployeeActivity" />

        <receiver
            android:name=".ui.Restarter"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="restartservice" />
            </intent-filter>
        </receiver>

        <service
            android:name=".ui.MyService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:stopWithTask="false" />

        <activity android:name=".Notification" />
        <activity android:name=".Activity.CommittiMeetingFilesActivity" />
        <activity
            android:name=".AttendMeetingDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ToAttendMeetingActivity" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
         >

            <!--
                <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity android:name=".IncomingCorrespondenceActionActivity" />
        <activity android:name=".FusionTestTitleActivity" />
        <activity android:name=".AssignedCorrespondenceTaskActivity" />
        <activity android:name=".CommitteeMeetings" />
        <activity android:name=".CommitteeManagement" />
        <activity android:name=".ManageMeetingsActivity" />
        <activity android:name=".ResolutionCorrespondenceActivity" />
        <activity android:name=".OutgoingCorrespondenceActivity" />
        <activity android:name=".AddNewMeetingActivity" />
        <activity android:name=".CorrespondenceDetailsActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".IncomingCorrespondenceActivity" />
        <activity android:name=".AdminMessages" />
        <activity android:name=".ui.UserMessages"
            android:theme="@style/AppTheme.NoActionBar"  />
        <activity android:name=".PublicActivity" />
        <activity android:name=".Readyapprove_viewmeeting" />
        <activity android:name=".ui.ReadyToApprove" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.ecms.ndmecms.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>